
body {
  font-family:'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6ecec;
}


.titre {

  text-align: center;
  margin-top: 30px;
  margin-right: 300px;
  font-size: 36px;
  color: #46035d;
}

img {
  
  margin-left: 505px;
  width: 500px;
  height: 250px;
 
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #46035d;
}
p{

  text-align: center;
  font-size: 28px;
  max-width: 700px;
  margin: 20px auto;
  color: #333;
}
h2{ 
    margin-left: 350px;
    color:hotpink;
    font-size: 30px;
    max-width: 800px;
    text-underline-position: above;
}
label{ 
    margin-left:575px;
    font-size: 30px;
    color: hotpink;
    font-weight: 200;
}
input{
     margin-left: 575px;
     font-size: 30px;
     border-color: darkorchid;
     background-color: lavenderblush;
     color: darkviolet;
}
button{
     margin-left:750px ;
     background-color: magenta;
     font-size: 20px;
}
dl{
    font-size: 28px;
    margin-left: 400px;
}
table{
    font-size: 28px;
    margin-left: 400px;

}
iframe{
     margin-left: 475px;
}
h1{
     margin-left:400px ;
     font-size: 35px;
}
footer{
    background-color: indigo;
   padding-top: 20px;
   padding-bottom: 20px;
}